@* DERAFT2*@

<div class="allcontent">
    <button class="tablink" onclick="openPage('Projects', this, 'rgb(41, 41, 41)')" id="defaultOpen">Projects</button>
    <button class="tablink" onclick="openPage('Groups', this, 'rgb(41, 41, 41)')">Groups</button>

    @* Projects tab *@
    <div id="Projects" class="tabcontent">
        <div class="projects">
            @foreach (Project proj in ViewBag.AllProjects)
            {
                <div class="proj-card">
                    <img src="https://i.ibb.co/M5GRr4k/download-1.png" alt="download-1" width="100%" style="margin-bottom: 20px;">
                    <h6><b>@proj.ProjectName</b></h6>
                    <p class="stack">@proj.StackName Stack</p>
                    <p class="group"><b>Done by:</b> group @proj.CreatedBy.GroupNumber</p>
                    <p>@proj.Description</p>
                    <p><button><a href="/projects/@proj.ProjectId">Project Details</a></button></p>
                </div>
            }
        </div>
    </div>

    @* Groups tab *@
    <div id="Groups" class="tabcontent">
        @foreach (Group g in ViewBag.Allgroups)
        {
            <div class="grouplabel">
                <div>
                    <p></p>
                    <h6> Group @g.GroupNumber Members:</h6>
                    @foreach (Student s in g.JoinedStudents)
                    {
                        <h7>| @s.FirstName @s.LastName |</h7>
                    }
                </div>
                <div>
                    <button><a href="groups/@g.GroupId">Group Details</a></button>
                </div>
            </div>
        }
    </div>
</div>
