
@* DERAFT2*@
<div class="text-center">
<h3>Dashboard</h3>
<br>
</div>
<div class="allcontent">
    <button class="tablink" onclick="openPage('Projects', this, 'rgb(41, 41, 41)')" id="defaultOpen">Projects</button>
    <button class="tablink" onclick="openPage('Groups', this, 'rgb(41, 41, 41)')" >Groups</button>

    @* Projects tab *@
    <div id="Projects" class="tabcontent">
        <div class="projects">
            @foreach (Project proj in ViewBag.AllProjects)
            {
                <div class="proj-card">
                    <img src="https://png.pngitem.com/pimgs/s/19-191037_building-city-buildings-vector-chuzhou-free-png-hq.png" alt="Denim Jeans" style="width:100%">
                    <h6><b>@proj.ProjectName</b></h6>
                    <p class="stack">@proj.StackName Stack</p>
                    <p class="group"><b>Done by:</b> group @proj.CreatedBy.GroupNumber</p>
                    <p>@proj.Description</p>
                    <p><button><a href="/projects/@proj.ProjectId">Project Details</a></button></p>
                </div>
            }
        </div>
    </div>

    @* Groups tab *@
    <div id="Groups" class="tabcontent">
        @foreach (Group g in ViewBag.Allgroups)
        {
            <div class="grouplabel">
                <div >
                    <h6> Group @g.GroupNumber @g.GroupId</h6>
                    <p>Members:</p>
                        @foreach (Student s in g.JoinedStudents)
                        {
                            <p>@s.FirstName @s.LastName</p>
                        }
                </div>
                <div>
                    <button><a href="groups/@g.GroupId">Group Details</a></button>
                </div>
            </div>
        }
    </div>

        
</div>
    




